button:hover{
background:rgb(109, 109, 218);
}
input{
    height: 7.5vh;
    width: 7.5vh;
    margin: 1vh;
    background-color: burlywood;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input:hover{
    background:gray;
}
.equal{
    width: 17vh;
}